/*CSS DOCUMENT*/

div.container {
    max-width: 60em;
    margin: auto;
    display: grid;
}

img {
    width: 100%;
}

nav ul{
    padding: 0;
    text-align: center;

}

nav ul li{
    display: inline;
    list-style-image: none;
    margin-right: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

nav ul li a{
    color: rgb(0 0 0);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(255 255 192);
}

li{
    list-style: none;
}
header{
    background: rgb(247 230 70);
}

h2{
    background: rgb(247 230 70);
    padding: 1em .5em;
    margin: 0;
    letter-spacing: .05em;
}

p{
    padding: 0.2em 1em;
}

h4{
    margin-bottom: 0em;
}


article, aside{
    background: rgb(255 255 192);
}

footer{
    background: rgb(247 230 70);
    text-align: center
}


/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
